# Solving a Murder Mystery using SQL

## The Prompt:

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a murder that occurred sometime on Jan. 15, 2018 and that it took place in SQL City. All the clues to this mystery are buried in a huge database, and you need to use SQL to navigate through this vast network of information. Your first step to solving the mystery is to retrieve the corresponding crime scene report from the police department's database.

## The Project:

The project prompt and the data has been collected from <a href="https://github.com/NUKnightLab/sql-mysteries">NUKnightLab's GitHub Repository</a>.

## \*\*USE murder Database\*\*

In [2]:
USE murder;
GO

## Crime Scene Report:

It has been said that the crime happened on 15th January 2018 in SQL City and that it was a murder. Let's look into the crime scene report to start the investigation.

In [4]:
SELECT * FROM crime_scene_report 
WHERE date = 20180115 AND type = 'murder' AND city = 'SQL City';

date,type,description,city
20180115,murder,"Security footage shows that there were 2 witnesses. The first witness lives at the last house on ""Northwestern Dr"". The second witness, named Annabel, lives somewhere on ""Franklin Ave"".",SQL City

### **The Report:**

'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".'

According to the report, there were two witnesses:

- The first witness lives at the last house on Northwestern Dr
- The second witness, named Annabel, lives somewhere on Franklin Ave

Let's find the interview of these witnesses.

## Find the Witnesses:

Let's look for both the witnesses in the \`person\` table.Â 

The first one lives at the last house on Northwestern Drive.

In [6]:
SELECT TOP(1) * FROM person 
WHERE address_street_name = 'Northwestern Dr'
ORDER BY address_number DESC;

id,name,license_id,address_number,address_street_name,ssn
14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949

So, the first witness is Morty Schapiro. Now, let's look for the other witness whose name is Annabel and lives somewhere on Franklin Ave.

In [7]:
SELECT * FROM person 
WHERE name LIKE '%Annabel%' AND address_street_name = 'Franklin Ave';

id,name,license_id,address_number,address_street_name,ssn
16371,Annabel Miller,490173,103,Franklin Ave,318771143

We have also found the the second witness named Annabel Miller.

## Witness Interviews:

Now that we know who our two witnesses are, let's look into their interviews to find clues about the culprit.Â 

  

Let's start with Morty Schapiro's report.

In [11]:
SELECT * FROM interview
WHERE person_id IN (14887, 16371);

person_id,transcript
14887,"I heard a gunshot and then saw a man run out. He had a ""Get Fit Now Gym"" bag. The membership number on the bag started with ""48Z"". Only gold members have those bags. The man got into a car with a plate that included ""H42W""."
16371,"I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th."

### **The Interview Transcript:**

- **Witness 1:**Â 'I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".'
- **Witness 2:** 'I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.'

Both the witnesses seem to have seen the same person. Some key information we can gather from the interviews are:

- The killer is a male
- The killer is a member of 'Get Fit Now' gym
- Killer's membership number started with '48Z'
- Killer is a gold member
- Killer's car plate has the number 'H42W'
- Killer checked into the gym on January 9th 2018

## Search for Gym Member:

Since we know the killer is a 'Get Fit Now' gold member with the membership no. starting with '48Z', let's begin our search for the suspect from there.

In [12]:
SELECT * FROM get_fit_now_member 
WHERE id LIKE '48Z%' AND membership_status = 'gold';

id,person_id,name,membership_start_date,membership_status
48Z7A,28819,Joe Germuska,20160305,gold
48Z55,67318,Jeremy Bowers,20160101,gold