# Solving a Murder Mystery using SQL

## The Prompt:

A crime has taken place and the detective needs your help. The detective gave you the crime scene report, but you somehow lost it. You vaguely remember that the crime was a murder that occurred sometime on Jan. 15, 2018 and that it took place in SQL City. All the clues to this mystery are buried in a huge database, and you need to use SQL to navigate through this vast network of information. Your first step to solving the mystery is to retrieve the corresponding crime scene report from the police department's database.

## The Project:

The project prompt and the data has been collected from <a href="https://github.com/NUKnightLab/sql-mysteries">NUKnightLab's GitHub Repository</a>.

## \*\*USE murder Database\*\*

In [2]:
USE murder;
GO

## Crime Scene Report:

It has been said that the crime happened on 15th January 2018 in SQL City and that it was a murder. Let's look into the crime scene report to start the investigation.

In [4]:
SELECT * FROM crime_scene_report 
WHERE date = 20180115 AND type = 'murder' AND city = 'SQL City';

date,type,description,city
20180115,murder,"Security footage shows that there were 2 witnesses. The first witness lives at the last house on ""Northwestern Dr"". The second witness, named Annabel, lives somewhere on ""Franklin Ave"".",SQL City

### **The Report:**

'Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".'

According to the report, there were two witnesses:

- The first witness lives at the last house on Northwestern Dr
- The second witness, named Annabel, lives somewhere on Franklin Ave

Let's find the interview of these witnesses.

## Find the Witnesses:

Let's look for both the witnesses in the \`person\` table.Â 

The first one lives at the last house on Northwestern Drive.

In [6]:
SELECT TOP(1) * FROM person 
WHERE address_street_name = 'Northwestern Dr'
ORDER BY address_number DESC;

id,name,license_id,address_number,address_street_name,ssn
14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949